<div class="flex border-b justify-between">
    <div class="flex items-center w-1/8 border-r-2 px-3">
        <a href="{% url "core:home" %}">
            HOME
        </a>
    </div>

    <ul class="flex items-center text-sm font-medium h-full">
        <li class="nav_link"><a href="#">Log in</a></li>
        <li class="nav_link"><a href="#">Sign Up</a></li>

        <li class="nav_link"><a href="#">Log out</a></li>
        <li class="nav_link"><a href="#">Order</a></li>
        <li class="nav_link"><a href="#">MyPage</a></li>
    </ul>
</div>