@tailwind base;
@tailwind components;
.nav_link {
    @apply ml-3 border-b-2 border-white h-full flex items-center;
    a {
        @apply py-3 px-2;
    }
    &:hover {
        @apply border-gray-600;
    }
  }

  @keyframes messageFadeIn {
    0%{
      opacity: 0;
      transform: translateY(-50px);
    }
    5%{
      opacity: 1;
      transform: translateY(50px);
    }
    95%{
      opacity: 1;
      transform: translateY(50px);
    }
    100%{
      opacity: 0;
      transform: translateY(-50px);
    }
  }

.item_btn{
    @apply px-5 py-2 rounded-sm cursor-pointer text-center mx-2 w-32;
}
  
@tailwind utilities;