{% extends "base.html" %}

{% block page_title %}
    {{user.name}}님의 주문내역
{% endblock page_title %}

{% block content %}

    <div class="min-h-75vh">``

        <h3 class="mb-12 text-2xl text-center">주문내역</h3>

        <div class="container mx-auto pb-10 ">
            <div class="mx-20 mb-10 rounded-lg bg-gray-600 px-10 py-3">
                {% for order in user.orders.all  %}
                    <div class="flex my-3 bg-gray-300 rounded-lg px-3 py-3">
                        <div class="w-16 h-16 bg-cover bg-center rounded-lg" style="background-image: url({{order.thumnail}})"></div>
                        <div class="ml-5 my-3 font-bold text-2xl">
                            <span class="text-teal-500 ">{{order.state}}</span>
                            <span>{{order}}</span>
                            <span>{{order.address}}</span>
                            <span>{{order.confirmed_date}}</span>
                            <span>{{order.shipping_started_date}}</span>
                            <span>{{order.completed_date}}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}