{% extends "base.html" %}

{% block page_title %}
    상품 추가
{% endblock page_title %}

{% block content %}
    <div class="container flex justify-center mx-auto bg-gray-200 rounded-lg text-bold">
        <form method="POST">
            <div class="my-5">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
            </div>
            <button class="w-full bg-green-300 rounded-lg py-5 my-3 text-xl hover:bg-green-500">다음</button>
        </form>
    </div>
{% endblock content %}