{% extends "base.html" %}
{% load on_favs %}

{% block page_title %}
    {{item.name}}
{% endblock page_title %}

{% block content %}

    <div class="w-3/4 justify-center mx-auto">
        <div class="flex justify-center mb-5 border-b">
            <div>
                <div>
                    <div class="h-64 w-64 bg-cover rounded-md" style="background-image:url({{item.thumbnail}})"></div>
                </div>
            </div>

            <div class="ml-20 w-2/5">

                <div class="flex items-center mb-3">
                    <span class="w-40">PRICE</span>
                    <span class="font-semibold">{{item.price}}원</span>
                </div>

                <div class="flex items-center mb-3">
                    <span class="w-40">COMMENT</span>
                    <span class="text-sm w-64">{{item.shorten_description}}</span>
                </div>

                <form method = "POST" action = "{% url 'orders:add-order' item.pk %}">
                    <div class="flex items-center mb-3">
                        <span class="w-40">OPTION</span>
                        {% csrf_token %}
                        <select class="bg-gray-200 rounded-md" name="option">
                            <option selected="selected" disabled>옵션 선택</option>
                            <option disabled>-----------</option>
                            {% for option in item.options.all %}
                                <option value="{{option.pk}}">{{option.name}} +{{option.extra_money}}원</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flex justify-center mb-5">
                        <button class="item_btn bg-gray-700 hover:bg-gray-900 text-white">주문하기</button></form>
                        <a class="item_btn bg-gray-200 hover:bg-gray-400" href="#">장바구니</a>
                        <a class="item_btn bg-gray-200 hover:bg-gray-400" href="{% url 'items:edit' item.pk %}">편집</a>
                        {% if user.is_authenticated %}
                            {% on_favs item as on_favs_boolean %}
                            {% if on_favs_boolean %}
                            {% else %}
                                <a class="item_btn bg-gray-200 hover:bg-gray-400" href="{% url 'users:add-favs' item.pk %}">찜하기</a>
                            {% endif %}
                        {% endif %}
                    </div>
            </div>
        </div>

        <div class="mb-5">
            <div>{{item.description|safe}}</div>
        </div>

        <ul class="flex items-center text-sm font-medium">
            <li class="nav_link cursor-pointer"><a>Review</a></li>
            <li class="nav_link cursor-pointer"><a>QnA</a></li>
            <li class="nav_link cursor-pointer"><a>MyPage</a></li>
        </ul>

        <div class="border-t">
            {% for review in item.reviews.all %}
                <div>
                    <p>{{review.title}} | {{review.content}} | {{review.user.name}} | {{review.created|date:'F Y'}}</p>
                </div>
            {% endfor %}
        </div>

        <div class="border-t">
            <form action="{% url 'reviews:create' item.pk %}" method="POST" >
                {% csrf_token %}
                title <input name="title"/>
                content <input name="content"/>
                <button class="w-full bg-gray-300 rounded-lg py-3 my-3 text-xl hover:bg-gray-500">리뷰 작성</button>
            </form>
        </div>

    </div>
{% endblock content %}